1)

In [5]:
import pandas as pd
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})
df['Y'] = [x for x in df['X']]
count=0
for i in range(len(df)):
    if df['X'].loc[i]==0:
        count=0
    else:
        count+=1
        df.loc[i,'Y']=count

In [6]:
df

   X  Y
0  7  1
1  2  2
2  0  0
3  3  1
4  4  2
5  2  3
6  5  4
7  0  0
8  3  1
9  4  2

2)

In [1]:
import pandas as pd
import numpy as np

start = pd.datetime(2015, 1, 1)
end = pd.datetime(2015, 12, 31)

rng = pd.date_range(start,end, freq='B')
ts = pd.Series(np.random.randn(len(rng)), index=rng)

In [5]:
ts

2015-01-01   -1.011144
2015-01-02    1.649726
2015-01-05    1.173737
2015-01-06    0.968814
2015-01-07   -0.901036
2015-01-08   -0.569063
2015-01-09    0.470190
2015-01-12   -1.474857
2015-01-13    1.293370
2015-01-14    0.549347
2015-01-15   -0.300279
2015-01-16   -0.373834
2015-01-19    0.951061
2015-01-20   -0.324661
2015-01-21   -0.392411
2015-01-22    0.397609
2015-01-23   -0.646592
2015-01-26   -0.943820
2015-01-27   -1.008176
2015-01-28   -0.182642
2015-01-29    1.122589
2015-01-30    0.827282
2015-02-02    0.572556
2015-02-03    1.156570
2015-02-04   -0.331572
2015-02-05   -0.886003
2015-02-06    0.535893
2015-02-09    0.392200
2015-02-10    0.660201
2015-02-11    0.299958
                ...
2015-11-20    0.339905
2015-11-23    0.246092
2015-11-24   -0.072289
2015-11-25   -1.258858
2015-11-26   -0.569456
2015-11-27   -2.338371
2015-11-30   -0.598080
2015-12-01   -2.946457
2015-12-02   -0.578977
2015-12-03    0.331238
2015-12-04   -0.572945
2015-12-07   -0.395608
2015-12-08   -0.090953
2015-12-09    2.352554
2015-12-10   -1.239055
2015-12-11   -0.206904
2015-12-14   -0.150540
2015-12-15   -1.596265
2015-12-16   -0.887874
2015-12-17    1.353338
2015-12-18   -1.136683
2015-12-21    1.295838
2015-12-22    1.322198
2015-12-23   -0.725290
2015-12-24    1.202919
2015-12-25    0.627557
2015-12-28   -1.628981
2015-12-29    1.052938
2015-12-30   -0.419898
2015-12-31    1.126676
Freq: B, Length: 261, dtype: float64

3) Find the sum of the values in s for every Wednesday

In [6]:
sum=0
for i in range(4,262,5):
    sum+=ts[i]
print(sum)

10.135775998926443

4) Average For each calendar month

In [9]:
ts.resample('M').sum()

2015-01-31    1.275209
2015-02-28    6.450861
2015-03-31   -6.508596
2015-04-30    7.119522
2015-05-31    0.662328
2015-06-30    0.955787
2015-07-31   -4.144479
2015-08-31    4.510279
2015-09-30    3.383438
2015-10-31    4.490765
2015-11-30   -5.926344
2015-12-31   -1.911172
Freq: M, dtype: float64